<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<oracle.dataaccess.client>
		<settings>
			<add name="DllPath" value="C:\WebSites\PfireProfile\bin\" />
			<add name="FetchSize" value="131072" />
			<add name="PromotableTransaction" value="promotable" />
			<add name="StatementCacheSize" value="10" />
		</settings>
	</oracle.dataaccess.client>
	<appSettings lockItem="true">
		<add key="RequiresAuthentication" value="true" />
		<add key="URLKeySalt" value="12ab" />
		<add key="SelectAllUsersProcedure" value="SELECT * FROM TABLE(PKG_BO_SEC_MANAGER_S.USERS_CURRENT_ALL ) ORDER BY EMP_LOGIN_ID ASC" />
		<add key="SelectPossibleShadowRoles" value="SELECT * FROM TABLE(PKG_BO_SEC_MANAGER_S.EMPLOYEES_ALL) ORDER BY EMP_LOGIN_ID ASC" />
		<add key="SelectUserShadowsProcedure" value="SELECT * FROM TABLE(PKG_BO_SEC_MANAGER_S.SHOW_PRIVILEGES('P_USR_LOGIN_ID'))" />
		<add key="UpdateUserShadowsProcedure" value="PKG_BO_SEC_MANAGER_S.SHADOW_EMP" />
		<add key="DeleteUserShadowsProcedure" value="PKG_BO_SEC_MANAGER_S.UNSHADOW_EMP" />
		<add key="SaveUserProcedure" value="PKG_BO_SEC_MANAGER_S.SHADOW_EMP" />
		<add key="DeleteUserProcedure" value="PKG_BO_SEC_MANAGER_S.REVOKE_ALL" />
		<add key="CommandTimeout" value="120" />
	</appSettings>
	<connectionStrings>
    <!--<add name="CFR_RRDMDataConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=EMAEDCL079.PFIZER.COM)(PORT=23589)))(CONNECT_DATA=(SID=CFRDEV)));Persist Security Info=True;User ID=CFR_BE_SUPPORT;Password=Pfizer$34" providerName="Oracle.DataAccess.Client" />-->
    <add name="CFR_RRDMAdministrationConnection" connectionString="Data Source=(local);Initial Catalog=Pfire_ApplicationController;Persist Security Info=True;Integrated Security=SSPI;Connection Timeout=2400" providerName="System.Data.SqlClient" />
    <add name="CFR_RRDMDataConnection" connectionString="Data Source=(local);Initial Catalog=Pfire_ApplicationController;Persist Security Info=True;Integrated Security=SSPI;Connection Timeout=2400" providerName="System.Data.SqlClient" />
  </connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />

			</assemblies>
		</compilation>
		<customErrors mode="Off"></customErrors>
		<authentication mode="Windows">
			<forms loginUrl="~/Default.aspx" timeout="2880" />
		</authentication>

		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="ProfilerAdmin.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
